.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}

.pagination__button:nth-last-child(1) {
    margin-left: 0px;
}

.pagination__button:hover {
    background-color: lightgray;
}
.pagination__button_active {
    background-color: royalblue;
    color: lightcyan;
}